<app-sidebar></app-sidebar>
<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Registrar Vendedores</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo permite crear/registrar vendedores</p>
    </div>
</div>

<form [formGroup]="vendedorForm" (ngSubmit)="onSubmit()">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Registro de vendedor</h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="nombres" class="form-label">Nombres</label>
                    <input id="nombres" type="text" formControlName="nombres" class="form-control" placeholder="Nombres"
                        required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input id="apellidos" type="text" formControlName="apellidos" class="form-control"
                        placeholder="Apellidos" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input id="email" type="email" formControlName="email" class="form-control"
                        placeholder="Correo electrónico" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="DNI" class="form-label">DNI</label>
                    <input id="DNI" type="number" formControlName="DNI" class="form-control" placeholder="DNI" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="id_local" class="form-label">Numero del Local</label>
                    <input id="id_local" type="text" formControlName="id_local" class="form-control"
                        placeholder="Numero del Local" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="nombre_local" class="form-label">Nombre del Local</label>
                    <input id="nombre_local" style="text-transform:uppercase;" type="text" formControlName="nombre_local" class="form-control"
                        placeholder="Nombre del Local" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input id="telefono" type="tel" formControlName="telefono" class="form-control"
                        placeholder="Telefono" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="password" class="form-label">Contraseña</label>
                    <input id="password" formControlName="password" class="form-control"
                        placeholder="contraseña" required>
                </div>
            </div>
        </div>
        <div class="card-footer mt-3">
            <button type="submit" [disabled]="!vendedorForm.valid" class="btn btn-primary mr-3">Crear vendedor</button>
            <a [routerLink]="['/panel/vendedores']" class="btn btn-warning">Regresar</a>
        </div>
    </div>
</form>