<app-sidebar></app-sidebar>
<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Categorias de productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo se establecen todas las categorias de los productos.</p>

    </div>
</div>

<form #categoriasForm='ngForm' (ngSubmit)="actualizar(categoriasForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Categorias</h5>
        </div>

        <div class="card-body">
            <div style="max-width: 48rem;">
                <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Categorías</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" id="text-input" placeholder="Titulo" name="titulo_cat"
                            [(ngModel)]="titulo_cat">

                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id="text-input" placeholder="Icono" name="icono_cat"
                            [(ngModel)]="icono_cat">
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9">
                        <a style="cursor: pointer;" (click)="agregar_cat()" class="mb-5">Agregar</a>
                        <div class="table-responsive mt-3">
                            <table class="table table-sm" *ngIf="categorias.categorias">
                                <thead class="thead-dark">
                                    <tr>

                                        <th>Categoria</th>
                                        <th>Icono</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="categorias.categorias.length == 0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><span>No hay categorias disponibles</span></td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <ng-container *ngIf="categorias.categorias.length != 0">
                                    <tbody *ngFor="let item of categorias.categorias; let indice = index">
                                        <tr>
                                            <td>{{ item.titulo}}</td>
                                            <td> <i class="{{ item.icono }}"></i> {{ item.icono}}</td>
                                            <td>
                                                <a style="cursor: pointer;" class="btn btn-danger btn-sm"
                                                    (click)="eliminar(indice)"><i class="h1 mb-1 text-white cxi-delete"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary mr-3">Guardar cambios</button>
        </div>
    </div>
</form>