<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>

    </div>
</div>

<form [formGroup]="productoForm" (ngSubmit)="onSubmit(productoForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Registro de producto</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Titulo de producto</label>
                            <input formControlName="titulo" type="text" class="form-control" placeholder="Titulo de producto" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Stock</label>
                            <input formControlName="stock" type="number" class="form-control" placeholder="Cantidad inicial" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Precio</label>
                            <input formControlName="precio" type="number" class="form-control" placeholder="Precio" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Categoría</label>
                            <select formControlName="categoria" class="form-control custom-select" id="select-input" required>
                                <option value="" selected disabled>Seleccionar</option>
                                <option *ngFor="let item of categorias.categorias" value="{{ item.titulo }}">{{ item.titulo }}</option>
                            </select>
                        </div>

                        <div class="col-lg-12 form-group">
                            <label for="">Descripción corta</label>
                            <textarea formControlName="descripcion" class="form-control" placeholder="Descripcion breve del producto" required
                                rows="5"></textarea>
                        </div>

                        <div class="col-lg-12 form-group">
                            <label for="">Descripcion detallada</label>
                            <tinymce placeholder="Descripcion detallada del producto..." [config]="config" formControlName="contenido"></tinymce>
                        </div>

                    </div>
                    
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Portada</label>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
                                <label class="custom-file-label" id="input-portada" style="white-space:nowrap; overflow:hidden" for="file-input">Seleccionar imagen</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <img [src]="imgSelect" class="img-thumbnail"
                                alt="Rounded image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Crear producto</button>
            <button *ngIf="load_btn" disabled type="button" class="btn btn-primary mr-3">
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Creando...
            </button>
            <a [routerLink]="['/panel/productos']" class="btn btn-warning">Regresar</a>
        </div>
    </div>
</form>