<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>
        <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap"
                [routerLink]="['/panel/productos/registro']">Registrar
                nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="input-group">
                    <h5 style="margin-bottom: 0px;" class="mr-2 mt-1">Buscar</h5>
                    <input class="form-control" type="text" placeholder="Titulo del producto"  [(ngModel)]="filtro">
                    <button class="btn btn-primary" type="button" (click)="filtrar()">Filtrar</button>
                    <button class="btn btn-warning ml-2" type="button" (click)="limpiar()">Limpiar</button>
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                <button class="btn btn-success" (click)="donwload_excel()">Exportar</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Ventas</th>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody *ngIf="load_data">
                    <tr>
                        <td class="text-center" colspan="7">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="!load_data && arr_productos.length != 0">
                    <tr *ngFor="let item of productos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let indice = index">
                        <th scope="row">{{ indice + 1}}</th>
                        <td>
                            <h6 style="padding-bottom: 0; margin-bottom: 0;">
                                <img style="width: 60px;" [src]="url+'obtener_portada/'+item.portada"
                                    class="img-thumbnail rounded-0 mr-1" alt="Square image">
                                {{ item.titulo }}
                            </h6>
                        </td>
                        <td>{{ item.stock }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.categoria }}</td>
                        <td>{{ item.nventas }}</td>
                        <td>
                            <div class="btn-group dropdown d-inline-block mb-3 mr-2">
                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Editar</a>
                                    <a class="dropdown-item text-danger">Eliminar</a>
                                    <a class="dropdown-item" [routerLink]="['/panel/productos/inventario', item._id]" routerLinkActive="router-link-active" >Inventario</a>
                                    <a class="dropdown-item" [routerLink]="['/panel/productos/galeria', item._id]" routerLinkActive="router-link-active" >Galeria</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="arr_productos.length == 0">
                    <tr>
                        <td colspan="7"><h4 class="text-center">¡No ha registrado productos!</h4></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="card-footer">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="productos.length"></ngb-pagination>
    </div>
</div>